*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

}

header{
    height: auto;
    background-color: #fff;
    border-bottom: #15202b double 15px;
    
}

.navegacao{
    
    flex-direction: row;
    align-self: center;
    gap: 3.5rem;
    padding-top: 15px ;
    padding-bottom: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.botoes{
    display: flex;
    gap: 12rem;
}
.navegacao a{
    color:#15202b;
    border: #15202b 2px solid;
    padding: 5px;
    border-radius: 50px;
    
}
.navegacao a:hover{
    color: #fff;
    background-color: #15202b;
    transition: 1s all;
}
.menu{
    display: none;
}

body{
    background-color: #15202b;
}
header h3{
    font-size: 100px;
    color: #15202b;
  
}
header img{
   
    border: none;
    height: 200px;
    width: 200px;
    border-radius: 0%;
    
}
img{
    margin: 10px;
    height: 300px;
    width: 300px;
    border: #fff solid 5px;
    border-radius: 50%;
    padding: 10px;
}

h1{
    color:#fff;
    font-size: 50px;
    text-align: center;
}
h2{
    font-size: 50px;
}
.container{
    margin: 0 auto;
    max-width: 1300px;
    height: 100%;
}
.flex{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-info{
    height: auto;

}
.sobre{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}
.about{
    height: auto;
    width: 300px;
}
.box-master{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
h2{
    color: #fff;
}
p{
    padding: 15px;
    color: #fff;
    text-align: center;
}
.experiencia{
    height: auto;
    width: 100%;
}
.box{
    
    height: 400px;
    border: #fff solid 5px;
    border-radius: 30px;
    margin: 20px;
    padding: 10px;
    
}
.container2{
    height: auto;
    padding-top: 30px;

}
ul li a{
    color: #fff;
    padding: 100px;
    
}
ul{
    list-style: none;
}
h3{
    color: #fff;
    text-align: center;
}
/* #animais{
    font-size: 100px;
    margin-top: -100px;
    border-bottom: #fff 2px solid;
     */


.login h2{
    font-size: 50px;

}

form{
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 50px;
    text-align: center; 
    
}

input{
    margin-top: 40px;
    text-align: center;
    border: none;
    background-color: #fff;
    border-radius: 30px;
    font-size: 25px;
    height: 50px;
    width: auto;
    outline: none;
    color: #ee81bb;
       
}
.logo-form{
    height: 200px;
    width: 200px;
}
form img{
    align-self: center;
    margin-top: 20px;
}
input::placeholder{
    color:darkblue;
}

input[type="submit"]{
    background-color: darkblue;
    color: #fff;
}
input[type="submit"]:hover{
    background-color: #fff;
    color: darkblue ;
    cursor: pointer;

}
#rodape{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 3rem;
}
.rodape-info{
    display: flex;
}
.infos{
    display: flex;
    align-items: center;
}


.contato{
    height: 70px;
    width: 70px;
    padding: auto;
}

@media (min-width:350px) and (max-width:640px) {
   
    .container{
        width: 90vw;
    }
    .sobre-master,.sobre{
        display: block;
    }
    .nav img{
        height: 60px;
        width: 60px;
    } 
    .nav h3{
        font-size: 16px;
    }
    .nav{
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navegacao{

        display:none;
    }
    .about{
        width: 100%;
    }
    .menu{
        display: block;
        cursor: pointer;
    }
    .box{
        margin: 20px 0;
    }
    .rodape-info{
        display: flex;
    }
    .infos{
        display: flex;
        align-items: center;
    }
    a{
        text-decoration: none;
        color: #ee81bb;
    }
}




